<div class="row g-0 text-center mx-auto mt-5">
  <div class="col-sm-9 col-md-10">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <img src="assets/images/slider-image-1.jpeg" class="w-100">
    </ng-template>
    <ng-template carouselSlide>
      <img src="assets/images/slider-image-2.jpeg" class="w-100">
    </ng-template>
    <ng-template carouselSlide>
      <img src="assets/images/slider-image-3.jpeg" class="w-100">
    </ng-template>
  </owl-carousel-o>
  </div>
  <div class="col-3 col-md-2 static-imgs">
    <img src="assets/images/slider-image-1.jpeg" class="w-100">
    <img src="assets/images/slider-image-2.jpeg" class="w-100">
  </div>
</div>
