<div class="text-center">
  <h1 class="fs-3 fw-bolder">counter : {{counter()}}</h1>
  <h1 class="fs-3 fw-bolder">user name : {{userName()}}</h1>
  <h1 class="fs-3 fw-bolder">total price : {{totalPrice()}}</h1>
  <h1 class="fs-3 fw-bolder">price : {{price()}}</h1>
</div>
<button (click)=" setCounter()" class="btn btn-success me-3">Count</button>
<button (click)=" setName()" class="btn btn-success me-3">SetName</button>
<button (click)=" changePrice()" class="btn btn-success me-3">changePrice</button>
